In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# lê tabela
df = pd.read_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/relatorio_resumo_produtos_0104-2804.xlsx', sheet_name='VIDA', nrows=11, header=0)
# filtra/seleciona colunas utilizáveis
df = df[['Junção', 'Real. Mês']]
# altera tipo da coluna
df['Junção'] = df['Junção'].astype(int)
# renomeia as colunas da tabela
df = df.rename(columns={'Real. Mês': 'Real. Mês VIDA'})
display(df)

df1 = pd.read_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/relatorio_resumo_produtos_0104-2804.xlsx', sheet_name='RE', nrows=11, header=0)
df1 = df1[['Junção', 'Real. Mês']]
df1['Junção'] = df1['Junção'].astype(int)
df1 = df1.rename(columns={'Real. Mês': 'Real. Mês RE'})
display(df1)

df2 = pd.read_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/relatorio_resumo_produtos_0104-2804.xlsx', sheet_name='RESIDENCIAL', nrows=11, header=0)
df2 = df2[['Junção', 'Real. Mês']]
df2['Junção'] = df2['Junção'].astype(int)
df2 = df2.rename(columns={'Real. Mês': 'Real. Mês RES'})
display(df2)

df3 = pd.read_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/relatorio_resumo_produtos_0104-2804.xlsx', sheet_name='DENTAL PF', nrows=11, header=0)
df3 = df3[['Junção', 'Real. Mês']]
df3['Junção'] = df3['Junção'].astype(int)
df3 = df3.rename(columns={'Real. Mês': 'Real. Mês DENTAL PF'})
display(df3)

df4 = pd.read_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/relatorio_resumo_produtos_0104-2804.xlsx', sheet_name='SAUDE DENTAL PJ', nrows=11, header=0)
df4 = df4[['Junção', 'Real. Mês']]
df4['Junção'] = df4['Junção'].astype(int)
df4 = df4.rename(columns={'Real. Mês': 'Real. Mês DENTAL PJ'})
display(df4)

df5 = pd.read_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/relatorio_resumo_produtos_0104-2804.xlsx', sheet_name='AUTO', nrows=11, header=0)
df5 = df5[['Junção','Nome da Agência', 'Real. Mês']]
df5['Junção'] = df5['Junção'].astype(int)
df5 = df5.rename(columns={'Real. Mês': 'Real. Mês AUTO'})
display(df5)

# mostra informações da tabela
# df1.info()

    Junção  Real. Mês VIDA
0     2270        212380.0
1      974        146876.0
2     1973         16322.0
3     1925         90650.0
4      285         62969.0
5     3152         74551.0
6     2890         78560.0
7     1436           139.0
8     1589          3039.0
9     2183         16574.0
10    6521           839.0

    Junção  Real. Mês RE
0     6521        6340.0
1     3152        1895.0
2     1925       -2214.0
3     2270       -3622.0
4     2890        2038.0
5     1973        -413.0
6      285        2132.0
7      974        4757.0
8     1436         367.0
9     1589         931.0
10    2183         928.0

    Junção  Real. Mês RES
0      285        25162.0
1     6521         3461.0
2     2890        13439.0
3     3152        22901.0
4     2270         6362.0
5     2183         8613.0
6     1973         9297.0
7     1925        22292.0
8     1589        12768.0
9      974         9069.0
10    1436         8419.0

    Junção  Real. Mês DENTAL PF
0     1589                899.0
1     1436                400.0
2      974                956.0
3     2890                499.0
4     6521                299.0
5     3152                899.0
6     1973               1797.0
7     1925               1297.0
8     2270                299.0
9      285               2895.0
10    2183                  0.0

    Junção  Real. Mês DENTAL PJ
0      285               1305.0
1     6521                  0.0
2     2890                  0.0
3     3152                301.0
4     2270                  0.0
5     2183               2106.0
6     1973                  0.0
7     1925                120.0
8     1589                  0.0
9      974                  0.0
10    1436                  0.0

    Junção       Nome da Agência  Real. Mês AUTO
0     1589                ESTEIO         10800.0
1     1436                PORTAO          1991.0
2      974   B.CANUDOS-UNHAMBUR.         19342.0
3     2890    PC.20 SETEMBRO-UNH         23409.0
4     6521  AV.J.CORREA-USLEOPOL         12076.0
5     3152     NOVO HAMBURGO-CTO         38755.0
6     1973       SAPUCAIA DO SUL          8348.0
7     1925             CAMPO BOM         24052.0
8     2270  PEDRO ADAMS-UNHAMBUR         23420.0
9      285        S.LEOPOLDO-CTO         73469.0
10    2183   SCHARLAU-USLEOPOLDO          4175.0

In [ ]:
# junta os três dataframes criados
df1 = df1.merge(df, on='Junção')
df2 = df2.merge(df1, on='Junção')
df3 = df3.merge(df2, on='Junção')
df4 = df4.merge(df3, on='Junção')
df6 = df5.merge(df4, on='Junção')
display(df6)

,Junção,Nome da Agência,Real. Mês AUTO,Real. Mês DENTAL PJ,Real. Mês DENTAL PF,Real. Mês RES,Real. Mês RE,Real. Mês VIDA
0,1589,ESTEIO,10800.0,0.0,899.0,12768.0,931.0,3039.0
1,1436,PORTAO,1991.0,0.0,400.0,8419.0,367.0,139.0
2,974,B.CANUDOS-UNHAMBUR.,19342.0,0.0,956.0,9069.0,4757.0,146876.0
3,2890,PC.20 SETEMBRO-UNH,23409.0,0.0,499.0,13439.0,2038.0,78560.0
4,6521,AV.J.CORREA-USLEOPOL,12076.0,0.0,299.0,3461.0,6340.0,839.0
5,3152,NOVO HAMBURGO-CTO,38755.0,301.0,899.0,22901.0,1895.0,74551.0
6,1973,SAPUCAIA DO SUL,8348.0,0.0,1797.0,9297.0,-413.0,16322.0
7,1925,CAMPO BOM,24052.0,120.0,1297.0,22292.0,-2214.0,90650.0
8,2270,PEDRO ADAMS-UNHAMBUR,23420.0,0.0,299.0,6362.0,-3622.0,212380.0
9,285,S.LEOPOLDO-CTO,73469.0,1305.0,2895.0,25162.0,2132.0,62969.0
10,2183,SCHARLAU-USLEOPOLDO,4175.0,2106.0,0.0,8613.0,928.0,16574.0

In [ ]:
# lê tabela
df_informado = pd.read_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/relatorio_resumo_produtos_0104-2804.xlsx', sheet_name='INFORMADO', nrows=11, header=0)

# excluí a coluna
df_informado = df_informado.drop('Total geral', axis=1)

# substitui por zero valor nulo
df_informado = df_informado.fillna(0)

# renomeia coluna da tabela
df_informado = df_informado.rename(columns={'Agência': 'Nome da Agência', 'RE(Emp, Cond, Equip)': 'RE'})

# cria coluna 'Residencial' e soma as duas colunas ('Pré Formatado' 'Sob Medida') para unificar os produtos
# df_informado['Residencial'] = df_informado.apply(lambda x : x['Pré Formatado']+x['Sob Medida'], axis=1)
df_informado['Dental PF'] = df_informado['Dental PF Anual']+df_informado['Dental PF Mensal']
df_informado['Residencial'] = df_informado['Pré Formatado']+df_informado['Sob Medida']
df_informado['Vida'] = df_informado['Vida Mensal']+df_informado['Vida Único/Anual']
df_informado['Dental PJ'] = df_informado['Dental PJ']+df_informado['Saúde']

# cria coluna com posição no dataframe e insere valores dos indices
df_informado.insert(0, 'Junção', [1925,974,1589,6521,3152,2270,1436,2890,1973,2183,285])

# cria coluna com indices no final do dataframe
#df_informado['Junção'] = [1925,974,1589,6521,3152,2270,1436,2890,1973,2183,285]

# filtra as colunas desejadas
df_informado = df_informado[['Junção',	'Automóvel',	'Dental PJ',	'RE',	'Dental PF',	'Residencial','Vida']]

display(df_informado)

# display(df_x)

    Junção  Automóvel  Dental PJ        RE  Dental PF  Residencial       Vida
0     1925   31540.11     119.60      0.00    3493.00     20203.88  247506.15
1      974   30776.26       0.00   8179.59    2363.00     10648.03  524869.00
2     1589   34356.23       0.00   2274.68    1996.00     11221.59  153821.89
3     6521    9773.10       0.00      0.00       0.00      5313.04    1413.02
4     3152   41792.55     301.20   3160.97     998.00     16653.17  147826.76
5     2270   29869.24       0.00   1276.31     750.91      6966.05  411048.86
6     1436       0.00       0.00      0.00       0.00      6927.04     139.33
7     2890   46605.45       0.00  12139.03    1497.00     16006.70  157849.95
8     1973   15159.93       0.00      0.00    2596.00     11086.05  229544.55
9     2183    8248.82    2265.28      0.00       0.00      7734.07   32453.04
10     285   81076.54    1305.00   2103.72    5069.90     32287.93  191064.50

In [19]:
df7 = df6.merge(df_informado, on='Junção')
# reindexa (reordena) as colunas do dataframe
df7 = df7.reindex(columns=['Junção',	'Nome da Agência',	'Real. Mês AUTO',	'Automóvel', 'Real. Mês DENTAL PJ', 'Dental PJ',	'Real. Mês DENTAL PF', 'Dental PF',	'Real. Mês RES',	'Residencial', 'Real. Mês RE', 'RE',	'Real. Mês VIDA', 'Vida'])

# cria as diferenças entre o Realizado - Informado
df7.insert(4, 'DIF AUTO', df7['Real. Mês AUTO']-df7['Automóvel'])
df7.insert(7, 'DIF DENTAL PJ', df7['Real. Mês DENTAL PJ']-df7['Dental PJ'])
df7.insert(10, 'DIF DENTAL PF', df7['Real. Mês DENTAL PF']-df7['Dental PF'])
df7.insert(13, 'DIF RESIDENCIAL', df7['Real. Mês RES']-df7['Residencial'])
df7.insert(16, 'DIF RE', df7['Real. Mês RE']-df7['RE'])
df7.insert(19, 'DIF VIDA', df7['Real. Mês VIDA']-df7['Vida'])
# df7 = df7.fillna(0)
display(df7)
df7.to_excel(r'/content/drive/My Drive/Colab Notebooks/Iza/agencia_informado_realizado.xlsx', index=False)

,Junção,Nome da Agência,Real. Mês AUTO,Automóvel,DIF AUTO,Real. Mês DENTAL PJ,Dental PJ,DIF DENTAL PJ,Real. Mês DENTAL PF,Dental PF,DIF DENTAL PF,Real. Mês RES,Residencial,DIF RESIDENCIAL,Real. Mês RE,RE,DIF RE,Real. Mês VIDA,Vida,DIF VIDA
0,1589,ESTEIO,10800.0,34356.23,-23556.23,0.0,0.00,0.00,899.0,1996.00,-1097.00,12768.0,11221.59,1546.41,931.0,2274.68,-1343.68,3039.0,153821.89,-150782.89
1,1436,PORTAO,1991.0,0.00,1991.00,0.0,0.00,0.00,400.0,0.00,400.00,8419.0,6927.04,1491.96,367.0,0.00,367.00,139.0,139.33,-0.33
2,974,B.CANUDOS-UNHAMBUR.,19342.0,30776.26,-11434.26,0.0,0.00,0.00,956.0,2363.00,-1407.00,9069.0,10648.03,-1579.03,4757.0,8179.59,-3422.59,146876.0,524869.00,-377993.00
3,2890,PC.20 SETEMBRO-UNH,23409.0,46605.45,-23196.45,0.0,0.00,0.00,499.0,1497.00,-998.00,13439.0,16006.70,-2567.70,2038.0,12139.03,-10101.03,78560.0,157849.95,-79289.95
4,6521,AV.J.CORREA-USLEOPOL,12076.0,9773.10,2302.90,0.0,0.00,0.00,299.0,0.00,299.00,3461.0,5313.04,-1852.04,6340.0,0.00,6340.00,839.0,1413.02,-574.02
5,3152,NOVO HAMBURGO-CTO,38755.0,41792.55,-3037.55,301.0,301.20,-0.20,899.0,998.00,-99.00,22901.0,16653.17,6247.83,1895.0,3160.97,-1265.97,74551.0,147826.76,-73275.76
6,1973,SAPUCAIA DO SUL,8348.0,15159.93,-6811.93,0.0,0.00,0.00,1797.0,2596.00,-799.00,9297.0,11086.05,-1789.05,-413.0,0.00,-413.00,16322.0,229544.55,-213222.55
7,1925,CAMPO BOM,24052.0,31540.11,-7488.11,120.0,119.60,0.40,1297.0,3493.00,-2196.00,22292.0,20203.88,2088.12,-2214.0,0.00,-2214.00,90650.0,247506.15,-156856.15
8,2270,PEDRO ADAMS-UNHAMBUR,23420.0,29869.24,-6449.24,0.0,0.00,0.00,299.0,750.91,-451.91,6362.0,6966.05,-604.05,-3622.0,1276.31,-4898.31,212380.0,411048.86,-198668.86
9,285,S.LEOPOLDO-CTO,73469.0,81076.54,-7607.54,1305.0,1305.00,0.00,2895.0,5069.90,-2174.90,25162.0,32287.93,-7125.93,2132.0,2103.72,28.28,62969.0,191064.50,-128095.50
10,2183,SCHARLAU-USLEOPOLDO,4175.0,8248.82,-4073.82,2106.0,2265.28,-159.28,0.0,0.00,0.00,8613.0,7734.07,878.93,928.0,0.00,928.00,16574.0,32453.04,-15879.04